.wrapper{
    height: 100%;
    background: #f5f4f9;
    color: #444A53;
    .header-wrap{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        header.sheader{
            background: #fff;
            padding: 10px 0px;
            position: relative;
            text-align: left;
            font-size: 16px;
            background-color: #fff;
            box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
            .header-container{
                justify-content: space-between;
                display: flex;
                align-items: center;
                .logo{
                    width: 150px;
                    margin-right: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    img{
                        width: 100%;
                    }
                }
                .nav{
                    margin-left: 0;
                    display: flex;
                    flex: 1;
                    justify-content: flex-end;
                }
            }
        }
    }
    .demo{
        padding-top: 50px;
        padding-bottom: 100px;
    }
}