.home-wrapper{
    position: relative;
    .modal{
        position: fixed;
        bottom:-300px;
        left: 50%;
        z-index: 1000;
        transform: translateX(-50%);
        box-shadow: 0 10px 40px -10px rgba(0,0,0,.3);
        border-radius: 8px;
        background-color: #fff;
        transition: all 200ms ease;
        width: 700px;
        padding: 10px 20px;
        &.show{
            bottom: 0px;
        }
        .mtitle{
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .mcontent{
            .imgurl{
                outline: none;
                width: 100%;
                resize: none;
                border-radius: 4px;
                padding: 5px 10px;
                font-size: 16px;
                box-sizing: border-box;
            }
        }
        .maction{
            margin-top: 10px;
            display: flex;
            justify-content: flex-end;
        }
    }
    .title{
        padding: 10px 30px;
        text-align: center;
        font-weight: bold;
        font-size: 32px;
        line-height: 42px;
    }
    .subtitle{
        margin-top: 10px;
        text-align: center;
        font-size: 18px;
    }
    .main-cat-wrap{
        margin: 20px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        .main-cat{
            background: #F5F4F9;
            padding: 7px 16px;
            font-size: 17px;
            line-height: 27px;
            color: #666;
            cursor: pointer;
            border-radius: 10px;
            display: inline-block;
            font-weight: normal;
            transition: all 0.2s ease;
            margin: 0px 20px;
            border:1px solid #ccc;
            &.selected{
                background: #247EFF;
                color:#fff;
                border-color: #fff;
            }
        }
    }
    .type-wrap{
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        border-bottom: 1px solid #f1f1f1;
        text-align: center;     
        max-width: 980px;
        margin: 20px auto 0px auto;   
        .type-item{
            list-style: none;
            margin-bottom: -1px;
            font-weight: bold;
            cursor: pointer;
            margin: 0px 20px;
            &:hover{
                .txt{
                    color:#222;
                }
            }
            &::after{
                content: ' ';
                height: 1px;
                width: 0;
                transition: 0.3s ease-out width;
                margin: auto;
                display: block;
                background-color: #1F77E0;
            }
            &.active{
                &::after{
                    width:100%;
                }
                .txt{
                    color:#000;
                }
            }
            .circle{
                width:66.6px;
                height: 66.6px;
                border-radius: 50%;
                margin:auto;
                display: flex;
                align-items: center;
                justify-content: center;
                .type-bg{
                    width: 30px;
                    height: 30px;
                }
            }
            .txt{
                color:#999;
                margin: 10px auto;
                transition: all 200ms ease;
            }
        }
    }
    .main-section{
        max-width: 1100px;
        margin: 40px auto 0px auto;
        display: flex;
        align-items: center;
        .left-input{
            width: 50%;
            box-sizing: border-box;
            .image-input-container{
                padding: 0px 0px 10px 0px;
                background: white;
                border-radius: 8px;
                box-shadow: 0 10px 40px -10px rgba(0,0,0,.3);
                margin-right: 20px;
                width: 100%;
                .titlebar{
                    position: relative;
                    border-bottom: 1px solid rgb(238, 238, 238);
                    .actions{
                        width:140px;
                        display: flex;
                        margin: 16px 0px 16px 16px;
                        position: absolute;
                        .b{
                            display: block;
                            width: 12px;
                            height: 12px;
                            margin-right: 6px;
                            border-radius: 100px;
                            &.c{
                                background: rgb(255, 98, 88);
                            }
                            &.min{
                                background: rgb(255, 189, 46);
                            }
                            &.max{
                                background: rgb(41, 205, 66);
                            }
                        }
                    }
                    .ttext{
                        font-size: 15px;
                        line-height: 40px;
                        text-align: center;
                        color: rgb(0, 0, 0);
                        align-self: center;
                        margin: 0px auto;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                }
                .default-images{
                    margin-top: 10px;
                    display:flex;
                    flex-wrap: wrap;
                    align-items: center;
                    .default-img{
                        width: 60px;
                        height:60px;
                        margin:7px 7px;
                        box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
                        overflow: hidden;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        cursor: pointer;
                        transition: all 0.2s ease;
                        opacity: 0.6;
                        &:hover{
                            transform: scale(1.02);
                        }
                        &.active{
                            opacity: 1;
                            transform: scale(1.02);
                        }
                    }
                }
            }
            .or{
                text-align: center;
                font-size: 22px;
                font-weight: bold;
                color: #555;
                margin: 20px 0px;
            }
            .upload{
                display: inline-block;
                .inputfile {
                    width: 0.1px;
                    height: 0.1px;
                    opacity: 0;
                    overflow: hidden;
                    position: absolute;
                    z-index: -1;
                }
                .inputfile + label {
                    font-size: 1.25em;
                    font-weight: 700;
                    display: inline-block;
                    background-color: #fff;
                    cursor: pointer;
                    padding: 10px 20px;
                    border-radius: 4px;
                    font-size: 14px;
                    line-height: 30px;
                    text-transform: uppercase;
                    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 20px;
                }
            }
        }
        
        .result-container{
            width: 50%;
            box-sizing: border-box;
            margin-left: 20px;
            position: relative;
            .hv{
                text-align: center;
                margin-bottom: 10px;
                position: absolute;
                top: -30px;
                left: 50%;
                transform: translateX(-50%);
            }
            .current-selected-image{
                width: 100%;
                height: 400px;
                border-radius: 8px;
                box-shadow: 0 10px 40px -10px rgba(0,0,0,.3);
                position: relative;
                border: 1px solid #ccc;
                display: flex;
                align-items: center;
                justify-content: center;
                .mimg{
                    max-width: 100%;
                    max-height: 100%;
                }
                &:hover{
                    .tags-container{
                        opacity: 1;
                        pointer-events: all;
                    }
                }
                .ier{
                    position: absolute;
                    z-index: 10;
                    top:0;
                    left: 0;
                    right:0;
                    bottom:0;
                    background-color: rgba(0,0,0,0.8);
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0px 20px;
                }
                .loader{
                    position: absolute;
                    z-index: 11;
                    top:0;
                    left: 0;
                    right:0;
                    bottom:0;
                    background-color: rgba(0,0,0,0.8);
                    border-radius: 8px;
                    background-image: url("../images/loader.svg");
                    background-size: 80px;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                .tags-container{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 0;
                    pointer-events: none;
                    transition: all 0.3s ease-out;
                    background-color: rgba(0, 0, 0, 0.4);
                    .ppup{
                        position: absolute;
                        width: 190px;
                        padding: 5px 0px 10px 0px;
                        border-radius: 8px;
                        box-shadow: 0 10px 40px -10px rgba(0,0,0,.3);
                        background-color: #fff;
                        color: #000;
                        &.x1{
                            left: 20px;
                            top:40px;
                        }
                        &.x2{
                            left: 240px;
                            top:10px;
                        }
                        &.x3{
                            left: 50px;
                            top:140px;
                        }
                        &.x4{
                            left: 160px;
                            top:230px;
                        }
                        &.x5{
                            left: 60%;
                            top:150px;
                        }
                        &::after{
                            content: " ";
                            width: 0; 
                            height: 0; 
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            position: absolute;
                            border-top: 10px solid #fff;
                            bottom: -10px;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                        .cname{
                            font-weight: bold;
                            font-size: 11px;
                            letter-spacing: 1.6px;
                            text-transform: capitalize;
                            margin-bottom: 10px;
                            padding: 0px 10px 5px 10px;
                        }
                        .prog{
                            margin: 0px 10px;
                            height: 4px;
                            background-color: #dedede;
                            border-radius: 3px;
                            .aprog{
                                background-color:#f00;
                                height: 100%;
                                border-radius: 3px;
                            }
                        }
                        .ptext{
                            font-size: 10px;
                            margin: 5px 10px 0px 10px;
                            letter-spacing: 1.6px;
                        }
                        .reso{
                            margin: 0px 10px;
                            font-size: 12px;
                            letter-spacing: 1.3px;
                        }
                    }
                }
                .jbtn{
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    z-index: 10;
                    &.black{
                        right: 100px;
                    }
                }
            }
        }
    }
}
.json-container{
    position: absolute;
    top:240px;
    left:50px;
    width:520px;
    box-shadow: 0 10px 40px -10px rgba(0,0,0,.3);
    display: none;
    background-color: rgba(255,255,255,0.95);
    border-radius: 8px;
    &.show{
        display: block;
    }
    .titlebar{
        position: relative;
        border-bottom: 1px solid rgb(238, 238, 238);
        .actions{
            width:140px;
            display: flex;
            margin: 16px 0px 16px 16px;
            position: absolute;
            .b{
                display: block;
                width: 12px;
                height: 12px;
                margin-right: 6px;
                border-radius: 100px;
                cursor: pointer;
                &.c{
                    background: rgb(255, 98, 88);
                }
                &.min{
                    background: rgb(255, 189, 46);
                }
                &.max{
                    background: rgb(41, 205, 66);
                }
            }
        }
        .ttext{
            font-size: 15px;
            line-height: 40px;
            text-align: center;
            color: rgb(0, 0, 0);
            align-self: center;
            margin: 0px auto;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    .json-content{
        height: 300px;
        overflow-y: auto;
        color: rgb(21, 50, 147);
    }
}

.results-container{
    position: absolute;
    top:240px;
    left:50px;
    width:420px;
    box-shadow: 0 10px 40px -10px rgba(0,0,0,.3);
    display: none;
    background-color: rgba(255,255,255,0.95);
    border-radius: 8px;
    &.show{
        display: block;
    }  
    .titlebar{
        position: relative;
        border-bottom: 1px solid rgb(238, 238, 238);
        .actions{
            width:140px;
            display: flex;
            margin: 16px 0px 16px 16px;
            position: absolute;
            .b{
                display: block;
                width: 12px;
                height: 12px;
                margin-right: 6px;
                border-radius: 100px;
                cursor: pointer;
                &.c{
                    background: rgb(255, 98, 88);
                }
                &.min{
                    background: rgb(255, 189, 46);
                }
                &.max{
                    background: rgb(41, 205, 66);
                }
            }
        }
        .ttext{
            font-size: 15px;
            line-height: 40px;
            text-align: center;
            color: rgb(0, 0, 0);
            align-self: center;
            margin: 0px auto;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    .result-content{
        max-height: 400px;
        overflow-y: auto;
        padding-bottom: 30px;
    } 
}

.tab-header{
    display: flex;
    align-items: center;
    margin-top: 10px;
    .input-tab{
        padding: 10px 15px;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        cursor: pointer;
        opacity: 0.6;
        transition: all 0.3s ease-out;
        box-sizing: border-box;
        min-width: 250px;
        letter-spacing: 1.6px;
        flex:1;
        &.selected{
            font-weight: bold;
            opacity: 1;
            &::after{
                width: 100%;
            }
        }
        &::after{
            content: ' ';
            height: 1px;
            width: 0;
            transition: 0.3s ease-out width;
            margin: 5px 0px;
            display: block;
            background-color: #1F77E0;
        }
    }
}
.tab-content{
    padding: 10px 15px;
    .imgurl{
        outline: none;
        width: 100%;
        resize: none;
        border-radius: 4px;
        padding: 5px 10px;
        font-size: 16px;
        box-sizing: border-box;
    }
    .go-btn{
        margin: 10px auto;
    }
}

.btn{
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    padding: 10px 20px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px;
    outline: 0px;
    background: white;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    transition: all 0.2s ease-out 0s;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.05);
    border-image: initial;
    border-radius: 4px;
    &.black{
        color:#fff;
        background-color: #000;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 20px;
    }
    &.big{
        line-height: 30px;
    }
}


.comp-wrap{
    padding: 5px 10px;
    .comp-title{
        font-size: 20px;
    }
    .img-contee{
        display: flex;
        align-items: center;
        justify-content: center;   
        .imgww{
            max-width: 100%;
            max-height: 100%;
        }
    }
    .res-item{
        margin: 10px 0px;
        &.half{
            display: inline-block;
            vertical-align: top;
            width: 50%;
            box-sizing: border-box;
            &:nth-child(odd){
                padding-right: 10px;
            }
            &:nth-child(even){
                padding-left: 10px;
            }
        }
        .res-label{
            font-size: 16px;
            font-weight: bold;
            color: #000;
            text-transform: capitalize;
        }
        .res-val{
            margin-top: 5px;
            &.bld{
                font-size: 18px;
                font-weight: bold;
            }
            .rtag{
                padding: 10px 20px;
                border-radius: 5px;
                color: #555;
                border: 1px solid #ccc;
                font-size: 18px;
                text-align: center;
                margin: 10px;
                display: inline-block;
                font-weight: bold;
                box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05);
                letter-spacing: 1.2px;
                &.small{
                    padding: 2px 15px;
                    font-size: 13px;
                    margin:3px 5px;
                }
            }
            .cc{
                width: 20px;
                height: 20px;
                border-radius: 10px;
                display: inline-block;
                margin: 0px 10px;
                &:first-child{
                    margin-left: 0px;
                }
                &:last-child{
                    margin-right: 0px;
                }
            }
        }
        .res-text{
            margin-top: 0px;
        }
    }
}